* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box
}

@viewport {
	width: device-width
}

html {
	overflow-y: auto
}

audio,
canvas,
img,
video {
	max-width: 100%
}

body {
	background-image: url("media/fondo-long.jpg");
	background-repeat: no-repeat;
  	background-position: bottom;
  	background-attachment: fixed;
  	background-size: cover;
  	background-color: red;
	/*background-color: red;*/
	min-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column
}

.content-max {
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center
}

.container {
	max-width: 1024px;
	width: 80%;
	margin: 0 auto;
	position: relative
}

@font-face {
	font-family: "font1";
	src: url("fonts/go3v2.ttf") format("truetype")
}
@font-face {
	font-family: "font2";
	src: url("fonts/montreal-serial-bold.ttf") format("truetype")
}

body {
	font-family: "font1";
	font-size: 12pt
}

.menu {
	font-size: 1rem;
	max-width: 100wh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%
}

.menu__body {
	margin-bottom: 30px;
	max-width: 800px;
	display: block
}

.menu__logo {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px
}

/*.menu__nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 40px
}*/
.menu__nav {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 800px;
  position: relative;
}

.menu__item{
	font-size:1.5rem;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	color:#fff;width:100%;
	height:75px;
	max-width:210px;
	justify-content:center;
	align-items:center;
	display:flex;
	justify-content:center;
	align-items:center
}

.menu__item:hover {
	transform: scale(1.05);
	transition: all 0.3s
}

.menu__item:last-child {
	grid-column-start: 2
}

.menu__text {
  display: block;
  position: absolute;
  transform: translateY(-5%);
  z-index: 100;
  font-size: 1em;
  color: #e3a12a;
}

.menu__btn {
	width: 100%
}

.ocultar {
	display: none;
	animation: desaparecer 0.3s linear;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards
}

#preloading {
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center
}

#preloading .load {
	width: 50px;
	height: 50px;
	border-top: 5px solid red;
	border-left: 5px solid red;
	border-radius: 100%;
	animation: girar 0.8s infinite linear;
	opacity: 0.7
}

@keyframes girar {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}

@keyframes desaparecer {
	0% {
		opacity: 9
	}
	to {
		opacity: 0;
		display: none
	}
}

.header {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px
}

.header__img {
	max-width: 100%;
	width: 100%;
	z-index: 99
}

.header__logo {
	width: 270px;
	margin: 0 auto;
	display: block
}

.container-dishes {
	flex-grow: 1
}

.headerdishes {
	font-size: 2em;
	background-color: #000;
	color: #e3a12a;
	padding-bottom: 10px;
	padding-top: 10px;
	text-transform: uppercase;
	margin-bottom: 30px
}

.headerdishes__content {
	text-align: left
}

.dishes {
	display: grid;
	grid-template-columns: repeat(4, minmax(190px, 1fr));
	grid-column-gap: 40px;
	grid-row-gap: 30px;
	margin-bottom: 110px;
}

.dishes__link {
	text-decoration: none;
	width: 100%;
	height: auto
}

.dishes__link:hover .dishes__img {
	transform: scale(1.03);
	transform-origin: center;
	transition: transform 0.3s ease
}

.dishes__picture {
	display: block
}

.dishes__img {
	width: 100%;
	min-height: 100px;
	display: block
}

.dishes__text {
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 5px;
	font-size: 1.3em;
}

.dishes__text span {
	display: none
}

.dishes__name {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	color: #fff;
	justify-content: center;
	font-size: 1rem
}

.dishes__price {
	font-size: 1.2em;
	font-family: "font2";
}

.content__plate {
	margin-top: 40px;
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center
}

.plate {
	width: 520px
}

.plate__logo {
	position: absolute;
	right: 50%;
	top: 0;
	transform: translateY(-40%) translateX(50%);
	width: 90px;
	z-index: 100
}

.plate__img {
	position: relative;
	width: 70%;
	margin: 0 auto
}

.plate__img img {
	max-width: 100%
}

.plate__cont__picture {
	display: block
}

.plate__picture {
	width: 100%;
}

.plate__body {
	color: #fff;
	font-size: 1rem
}

.plate__title {
	color: #e3a12a;
	font-size: 1.6em;
	margin-top: 40px;
	margin-bottom: 7px;
	text-align: center;
	text-transform: uppercase
}

.plate__price {
	font-family: "font2";
	text-align: center;
	font-size: 1.6em
}

.plate__text {
	font-family: "font2";
	font-size: 1.1em;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase
}

.plate__pepsi {
	width: 40px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center
}

.plate__pepsi img {
	max-width: 100%
}

.lists {
	font-size: 1rem;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 50px;
	color: #fff
}

.lists__header {
	text-align: center;
	width: 14em;
	position: relative;
	margin: 0 auto
}

.lists__title {
	font-size: 1.35em;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 30px;
	font-family: "font1";
	color: #e3a12a;
}

.lists__body--center {
	text-align: center
}

.lists__item {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 7px;
	position: relative
}

.lists__name {
	flex-grow: 1;
	font-family: "font2";
}

.lists__line {
	border-bottom: 2px #000
}

.lists--uno {
	flex-grow: 1
}

.lists--prices {
	width: 70px;
	text-align: center
}

.lists__names {
	width: 100%;
	display: flex;
	margin-top: 15px
}

.lists__drinkname {
	height: 1px;
	flex-grow: 1
}

.lists__name-price {
	width: 70px;
	text-align: center
}

.lists__price {
	width: 50px;
	text-align: right
}

.lists__price--right {
	text-align: right;
	width: 50px
}

.chops {
	display: flex;
	flex-direction: column
}

.chops__header {
	display: flex
}

.chops__name {
	min-height: 1px;
	width: 70px;
	text-align: right
}

.chops__name:first-child {
	flex-grow: 1
}

.chops__name-bebida {
	flex-grow: 1
}

.chops__price {
	text-align: right
}

.chops__body {
	display: flex;
	flex-direction: row
}

.chops__prices {
	display: grid;
	grid-template-columns: repeat(4, 70px)
}

.chops__items {
	flex-grow: 1
}

.list__row {
	margin-bottom: 30px
}

.list__plate {
	width: 100%;
	text-align: center
}

.list__body {
	width: 100%
}

.list__price {
	width: 100%;
	text-align: center;
	margin-top: 10px
}

.btn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	max-width: 90px
}

.btn__img {
	width: 100%
}

.titulo {
	max-width: 100%;
	font-size: 1rem;
	margin-bottom: 10px;
	width: 100%
}

.titulo__content {
	text-align: center;
	width: 14em;
	position: relative;
	margin: 0 auto
}

.titulo__text {
	position: absolute;
	left: 50%;
	bottom: 50%;
	width: 90%;
	transform: translateY(42%) translateX(-50%);
	color: red;
	font-size: 1.35em;
	text-transform: uppercase
}

.sponsors {
	width: 100%;
	max-width: 100%
}

.sponsors__content {
	width: 60px;
	align-self: start;
	margin-top: 10px;
	align-self: center;
	margin-left: 10px;
	margin-right: 10px
}

.sponsors__body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap
}

.sponsors__img {
	max-width: 100%
}

#Pacenia {
	width: 100px
}

#huari {
	width: 100px
}

#Guarana {
	width: 70px
}

.footer {
	width: 100%;
	height: 30px;
	background-color: red;
	margin-top: 35px
}

.headerdos {
	width: 100%;
	height: 30px;
	background-color: red
}
.table {
  font-size: 1.3em;
  width: 90%;
  margin: 0 auto;
  color: white;
  font-family: "font2";
}
.table__header {
  text-align: right;
}
.table__column {
  padding-top: 5px;
  padding-bottom: 5px;
}
.table__column--right {
  text-align: right;
}
.table__price {
  width: 15%;
}

@media screen and (max-width:1366px) {
	body {
		font-size: 16px
	}
}

@media screen and (min-width:1367px) {
	body {
		font-size: 19px
	}
	.plate {
		width: 37.5rem
	}
	.plate__logo {
		width: 5em
	}
	.lists {
		font-size: 1.5rem;
		max-width: 100%
	}
}

@media screen and (max-width:1025px) {
	.dishes {
		grid-template-columns: repeat(3, 1fr)
	}
}

@media screen and (max-device-width:768px) {
	.container {
		width: 90%
	}
	.menu {
		margin: 0 auto
	}
	.menu__body {
		width: 90%
	}
	.menu__nav {
		grid-template-columns: repeat(3, 1fr);
		width: 100%
	}
	.menu__item {
		margin: 0 auto
	}
	.menu__text {
		line-height: 1.5
	}
	.header__logo {
		width: 250px
	}
	.dishes {
		grid-template-columns: repeat(3, 1fr)
	}
	.plate {
		width: 480px
	}
	.plate__img {
		width: 80%
	}
	.plate__pepsi {
		width: 50px
	}
	.lists {
		max-width: 550px
	}
	.btn {
		bottom: 30px;
		right: 30px;
		width: 90px
	}
}

@media screen and (max-width:480px) {
	body {
		font-size: 16px
	}
	.container {
		width: 90%
	}
	.dishes {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 15px
	}
	.dishes__text {
		text-align: center;
		font-size: 1.1em
	}
	.dishes__name {
		font-size: 0.8em
	}
	.plate {
		font-size: 16px
	}
	.plate__img {
		width: 80%
	}
	.plate__body {
		padding-left: 10px;
		padding-right: 10px
	}
	.plate__logo {
		width: 100px
	}
	.plate__title {
		line-height: 1.2em;
		margin-top: 20px;
		letter-spacing: 0.05em
	}
	.plate__price {
		font-size: 1.4em
	}
	.plate__text {
		margin-top: 20px;
		font-size: 0.9em
	}
	.sponsors__content {
		width: 50px
	}
	#Pacenia {
		width: 85px
	}
	#huari {
		width: 85px
	}
	#Guarana {
		width: 60px
	}
	.header__logo {
		width: 55%
	}
	.menu {
		width: 100%;
		margin: 0 auto
	}
	.menu__nav {
		display: flex;
		grid-template-columns: repeat(3, 1fr);
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		justify-content: center;
		grid-row-gap: 0px;
		grid-column-gap: 0px;
		width: 100%;
		margin: 0 auto
	}
	.menu__item {
		font-size: 1.2em;
		width: 160px
	}
	.btn {
		width: 50%
	}
	.lists__content {
		width: 85%;
		margin: 0 auto
	}
	.chops__prices {
		grid-template-columns: repeat(4, 50px)
	}
	.chops__price {
		width: 50px
	}
	.chops__name {
		width: 50px
	}
}

@media screen and (max-width:360px) {
	.menu__nav {
		width: 100%
	}
	.menu__item {
		width: 150px
	}
}

@media screen and (max-width:300px) {
	.header__logo {
		width: 60%
	}
	.menu__item {
		width: 120px;
		height: 70px;
	}
}

@media screen and (max-width:284px) {
	.header__logo {
		width: 60%
	}
	.menu__item {
		width: 120px;
		font-size: 0.9em;
		height: 60px
	}

	.headerdishes__text {
		font-size: 0.9em
	}
	.dishes {
		width: 80%;
		grid-template-columns: 1fr
	}
}


/*# sourceMappingURL=styles.css.map */